
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(26, 59, 122,1);
    font-family: 'Inconsolata', monospace;
}

.main-contenair .header{
    display: flex;
    justify-content: space-between;
}

.main-contenair .header .symbole{
    color: rgb(26, 59, 122,1);
    background-color: #fff;
    text-transform: uppercase;
    font-size: .7rem;
    padding: 5px 40px;
}
.main-contenair .header .btn{
    text-transform: capitalize;
    padding: 5px 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #d75e5e;
    cursor: pointer;
}
.main-contenair .header .btn i{
    color: #d75e5e;
    background-color: #fff; 
    margin-left: 0.8rem; 
}
.main-contenair .block-main{
    margin: 13% auto;
}

.main-contenair .block-main h3{
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
}

.main-contenair .block-main .choix ul{
    list-style: none;
    text-align: center;
    font-size: .8rem;
    width: 27%;
    margin: 0 auto;
    cursor: pointer;
}

.main-contenair .block-main .choix ul li{
    background-color: #fff;
    margin: 0.4rem;
    padding: 10px 15px;
    color: rgb(26, 59, 122,1);
}

.main-contenair .block-main .choix ul li a{
    text-decoration: none;
    color: rgb(26, 59, 122,1);
    text-transform: uppercase;
}