@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@font-face {
 font-family: "Roboto";
 src: url("/fonts/Roboto-Regular.ttf") format("ttf");
}
* {
	font-family:"Roboto";
	padding: 0;
	margin: 0;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #000;
}
#main_content {
	/* height: 29.7cm; */
    width: 24cm;
    padding: 20px;
    background: #fff;
}
header {
	border-bottom: 1px dotted #000;
	display: flex;
	flex-direction: column;
	height: 120px;
}
#main_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 120px;
}
.logoceca img {
	height: 70px;
	width: auto;
}
.container {
	display: flex;
	flex-direction: row;
	height: 70px;
}
.box {
	border: 1px dotted #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 30px;
}
.boxleft {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 30px;
}
.box p {
	padding: 5px 0px;
}
.nom_activite h3{
	text-align: center;
	margin-top: 1.2em;
	margin-bottom: 0;
}
/*************fin header********************/
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.table_data {
	width: 100%;
	padding-top: 10px;
	/* margin-top: 1em; */
}
.table_totaux {
	width: 50%;
	padding-top: 10px;
}
td {
	border: 1px dotted #000;
	padding: 2px;
	text-align: center;
}
th {
	border: 1px dotted #000;
	padding: 2px;
	text-align: center;
}
tfoot tr td {
	text-align: center;
}
.table_totaux tfoot tr th {
	border: 1px solid #000;
}
.table_totaux tfoot tr td {
	border: 1px solid #000;
}

.montant-total{
	font-weight: bold;
	margin-left: 1em;
}